<div class="heading text-light pt-2">
    <h4>Member List Component</h4>
    <div class="line"></div>

 </div>

 <div class="container-fluid mt-3">
    <table class="table table-borderless">
      <thead>
        <tr>
          <th class="text-center">SrNo.</th>
          <th>Member Name</th>
          <th>Member Email</th>
          <th>Member Mobile</th>
          <th>Start Date</th>
          <th>Payment Status</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of memberData">
          <td class="text-center">{{row.id}}</td>
          <td>{{row.fname}}</td>
          <td>{{row.email}}</td>
          <td>{{row.mobile}}</td>
          <td>{{row.startDate}}</td>
          <td>{{row.paymentstatus}}</td>
          <td>{{row.isActive}}</td>
          <td>
            <button (click)="viewMember(row)" title="View" class="btn btn-sm btn-secondary">
              <i class="fas fa-eye"></i> 
            </button>
  
            <button (click)="editMember(row)" title="Edit" class="btn btn-sm btn-success ml-1">
              <i class="fas fa-edit"></i> 
            </button>
            <button title="Delete" (click)="deleteMember(row)" class="btn btn-sm btn-danger ml-1">
              <i class="fas fa-trash-alt"></i>  
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  
  </div>