<div class="heading text-light pt-2">
    <h4>View Member Component</h4>
 <hr>

 </div>


 <div class="container mdetails ">


    <div class="card">
        <div class="card-header text-center">
            <h3>Member Details</h3>
        </div>
        <div class="card-body cbody">
            <div class="row">
               <div class="col-md-4">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                      <b>Name: </b> {{ mData.fname }} {{ mData.lname }}
                    </li>
                    <li class="list-group-item">
                      <b>Email: </b> {{ mData.email }}
                    </li>
                    </ul>
               </div>
               <div class="col-md-4">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                      <b>Email: </b> {{ mData.email }}
                    </li>
                    <li class="list-group-item">
                      <b>Mobile: </b> {{ mData.mobile }}
                    </li>
                    </ul>
               </div>
                
               <div class="col-md-4">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                      <b>Date Of Birth : </b> {{ mData.dob }}
                    </li>
                    <li class="list-group-item">
                      <b>Weight : </b> {{ mData.weight }}
                    </li>
                    </ul>
               </div>
               <div class="col-md-4">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                      <b>Membership Duration : </b> {{ mData.duration }}
                    </li>
                    <li class="list-group-item">
                      <b>Membership Type : </b> {{ mData.mtype }}
                    </li>
                    </ul>
               </div>
               <div class="col-md-4">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                      <b>Fitness Goals : </b> {{ mData.goals }}
                    </li>
                    <li class="list-group-item">
                      <b>Start Date : </b> {{ mData.startDate }}
                    </li>
                    </ul>
               </div>
                <div class="col-md-4">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                      <b>Personal Trainer : </b> {{ mData.trainer }}
                    </li>
                    <li class="list-group-item">
                      <b>Blood Group : </b> {{ mData.group }}
                    </li>
                    </ul>
               </div>
               <div class="col-md-4">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                      <b>Payment Method : </b> {{ mData.paymentmethod }}
                    </li>
                    <li class="list-group-item">
                      <b>Payment Duration : </b> {{ mData.paymentduration }}
                    </li>
                    </ul>
               </div>
               <div class="col-md-4">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                      <b>Payment Status : </b> {{ mData.paymentstatus }}
                    </li>
                    <li class="list-group-item">
                      <b> Status : </b> {{ mData.isActive }}
                    </li>
                    </ul>
               </div>

               
               
               
             </div>

        </div>
        
    </div>

 </div>

 
